.raleway{font-family: "Raleway", sans-serif;}
.bold{font-weight: 700;}
.medium{font-weight: 500;}
.italic{font-style: italic;}

.fs-20{font-size: 20px;}
.fs-30{font-size: 30px;}


.block-img-h { height: 400px; }
.block-img-w { width: 400px; }
.contain-img { background-size: contain;}

<<<<<<< HEAD
.marge-left {margin-left : 10px;}

.size-title {font-size: 5em;}
.color-title {color: #E9E951;}

.create {height: 500px;}
=======
.bordertext{text-shadow: #000 1px 1px 2px;}
>>>>>>> abb67252dfb198e33d5557503fc4fe11519d9210
