

.raleway{font-family: "Raleway", sans-serif;}
.bold{font-weight: 700;}
.medium{font-weight: 500;}
.italic{font-style: italic;}

.red{color: red;}

.fs-20{font-size: 20px;}
.fs-30{font-size: 30px;}
.fs-40{font-size: 40px;}
.fs-80{font-size: 80px;}

.h100vh{height:100vh;}
.max-h-auto{max-height:auto;}

.block-img-h { height: 400px; }
.block-img-w { width: 400px; }
.contain-img { background-size: contain;}

.marge-left {margin-left : 10px;}

.color-title {color: #E9E951;}
.bg-button {background: #E9E951;}
.bg-ft {background: #444;}
.cf-footer {color: #FFF;}
.color-button {color: #444; }

.create {height: 500px;}

.line-ft { border-top: 2px #444 solid;}
.border-1{border: 1px solid #444;}

/* ==============================================================
                            NAVBAR
============================================================== */

.uk-navbar-nav>li>a{font-size: 20px;font-family: "Raleway", sans-serif;} /* Font size + font family des liens */

.uk-offcanvas-bar>li>a, .uk-offcanvas-bar .uk-close{color:#FFF;}    /* Liens + Croix */

.uk-navbar-nav>li>a:hover, .uk-offcanvas-bar .uk-nav-default>li>a:not(.uk-logo):hover,  /* Liens + croix en hover */
.uk-offcanvas-bar a:hover, .uk-offcanvas-bar .uk-close:hover
{color:#E9E951;}

/* ==============================================================
                            FONT ICON
============================================================== */

.fa-color{color:#444;}


/* Cacher la préview quand le meme est crée */

img:not([src]){
    visibility: visible;
    display:none;
}



@media screen and (max-width: 1070px) {
    .bloc {
      display: flex;
      flex-direction: column;
    }
    .title {
        text-align: center;
    }
    .text {
        text-align: justify;
    }
  }

  @media screen and (max-width: 960px) {
    .bloc {
      display: flex;
      flex-direction: column;
    }
    .title {
        text-align: center;
    }
    .text {
        text-align: justify;
    }
  }