

<div class="uk-section uk-section-secondary uk-flex uk-flex-center uk-flex-middle line-ft " uk-height-viewport="expand: true">
    <div class="uk-container" >
         <p class="uk-flex-middle"> WEBSITE <span class="ft-bold"> CREATE</span> AND <span class="ft-bold"> DESIGN</span> BY : MONICA - ROMAIN - JESSY - ALEXANDRE</p>
    </div>
   
</div>