<footer class="page-footer amber lighten-4">
    <div class="container ptb-50">
        <div class="row">
            <div class="col m4 s12">
                <h5 class="amber-text raleway bold fs-20 mtb-20">Sécurité</h5>
                <ul>
                <li><a class="" href="#">Signaler un contenu illicite</a></li>
                <li><a class="" href="#">Politique de confidentialité</a></li>
                <li><a class="" href="#">Informations légales</a></li>
                <li><a class="" href="#">C.G.U.</a></li>
                </ul>
            </div>

            <div class="col m4 s12">
                <h5 class="amber-text raleway bold fs-20 mtb-20">A propos</h5>
                <p class="grey-text text-darken-4 roboto medium nomargin">
                Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro.
                De carne lumbering animata corpora quaeritis.
                Summus brains sit​​.
                </p>
            </div>

            <div class="col m4 s12">
                <h5 class="amber-text raleway bold fs-20 mtb-20">Rechercher</h5>
                <nav class="amber lighten-5">
                <div class="nav-wrapper">
                    <form>
                    <div class="input-field">
                        <input id="search" type="search" required>
                        <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                        <i class="material-icons">close</i>
                    </div>
                    </form>
                </div>
                </nav>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <p class="left grey-text text-darken-4 roboto medium">© 2018 Copyright - 
            <span class="bold">CINE CLUB</span>
            </p>
            
            <div class="nav-wrapper right">
            
            <ul id="nav-mobile" class="d-flex hide-on-med-and-down">
                <li class="ml-10"><a href="#" target="_blank">Erick B.</a></li>
                <li class="ml-10"><a href="https://romainw.promo-18.codeur.online/" target="_blank">Romain W.</a></li>
                <li class="ml-10"><a href="#" target="_blank">Jérome R.</a></li>
                <li class="ml-10"><a href="#" target="_blank">Inès M.</a></li>
            </ul>
            </div>   
        </div>
    </div>
</footer>
<script src="js/jquery.min.js"></script>
<script src="js/materialize.min.js"></script>
<script src="js/init.js"></script>