

<div class="uk-padding-small bg-ft uk-height-1-1 uk-margin-top uk-flex uk-flex-center uk-flex-middle line-ft " uk-height-viewport="expand: true">
    <div class="uk-container">
         <p class="uk-flex-middle cf-footer"> WEBSITE <span class="uk-text-bold"> CREATE</span> AND <span class="uk-text-bold"> DESIGN</span> BY : MONICA - ROMAIN - JESSY - ALEXANDRE</p>
    </div>
</div>