<header>
    <nav class="amber lighten-4 h-80">
        <div class="nav-wrapper container valign-wrapper justify-content-between">
        <a class="valign-wrapper" href="#">
            <img class="responsive-img" src="img/logo-film.png" alt="Logo">
        </a>
        <ul class="hide-on-med-and-down">
            <li>
            <a class="fs-20 grey-text text-darken-4" href="#">Ajouter un film</a>
            </li>
            <li>
                <a class="fs-20 grey-text text-darken-4" href="#">Login</a>
            </li>
        </ul> 
        <ul id="nav-mobile" class="sidenav">
            <li>
            <a class="fs-20 grey-text text-darken-4" href="#">Ajouter un film</a>
            </li>
            <li>
                <a class="fs-20 grey-text text-darken-4" href="#">Login</a>
            </li>
        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons black-text">menu</i></a>
        </div>
    </nav>
</header>

<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <h1 class="center amber-text bold raleway fs-5">CINE CLUB</h1>
        <div class="row center">
          <h5 class="col s12 white-text raleway">La magie du cinéma au bout du clique</h5>
        </div>
      </div>
    </div>
    <div class="parallax">
      <img src="img/salle.jpg" alt="Salle cinéma">
    </div>
  </div>