<nav class="uk-navbar-container uk-margin uk-navbar-transparent" uk-navbar>
    <div class="uk-navbar-center">
        <div class="uk-navbar-center-left"><div>
            <ul class="uk-navbar-nav">
                <li class="uk-active"><a href="index.php">Home</a></li>
                <li>
                    <a href="index.php/meme">Create</a>
                </li>
            </ul>
        </div></div>
        <a class="uk-navbar-item uk-logo" href="index.php">Logo</a>
        <div class="uk-navbar-center-right"><div>
            <ul class="uk-navbar-nav">
                <li><a href="#">Meme ?</a></li>
            </ul>
        </div></div>
    </div>
</nav>
