<nav class="uk-navbar-container uk-margin uk-navbar-transparent">
    <div class="uk-flex uk-flex-around uk-width-1-1">
        <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">
                <li class="uk-nav">
                    <a href="">Home</a>
                </li>
                <li class="uk-nav">
                    <a href="meme">Create</a>
                </li>
            </ul>
        </div>
 
        <a class="uk-navbar-item uk-logo" href="">GE <span class="color-title mlr-10">MEME</span> RATOR</a>
        
        <div class="uk-navbar-right">
            <div>
                <ul class="uk-navbar-nav">
                    <li>
                        <a href="definition">Meme ?</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
