<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta property="og:url"           content="https://www.your-domain.com/your-page.html" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="Your Website Title" />
    <meta property="og:description"   content="Your description" />
    <meta property="og:image"         content="https://www.your-domain.com/path/image.jpg" />
    <base href="http://localhost/generateur_memes/">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,600,700" rel="stylesheet">
    <link href="css/uikit.css" type="text/css" rel="stylesheet">
    <link href="css/uikit-rtl.css" type="text/css" rel="stylesheet">
    <link href="css/style.css" type="text/css" rel="stylesheet">
    <title>{% block title %}GEMEMERATOR{% endblock %}</title>
</head>
<body>
    {% include "layout/header.html.twig" %}

    {% block content %}{% endblock %}

    {% include "layout/footer.html.twig" %}


    {% block javascript %}
    <script src="js/jquery.min.js"></script> 
    <script src="js/uikit.min.js"></script> 
    <script src="js/uikit-icons.min.js"></script>
    <script src="js/app.js"></script> 
    <script src="js/facebook.js"></script> 
    
    {% endblock %}
</body>


</html>

