<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <base href="http://localhost/filmotheque/">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">  
    <link href="https://fonts.googleapis.com/css?family=Raleway:300i,400,500,700" rel="stylesheet"> 
    <link href="css/materialize.min.css" type="text/css" rel="stylesheet">
    <link href="css/style.css" type="text/css" rel="stylesheet">
    <title>{% block title %}Cine Club{% endblock %}</title>
</head>
<body class="amber lighten-4">
    {% include "layout/header.html.twig" %}

    {% block content %}{% endblock %}

    {% include "layout/footer.html.twig" %}

</body>
</html>

