{% extends 'layout/layout.html.twig' %}

{% block title %}
  {{ parent() }} - 404
{% endblock %}

{% block content  %}

<div class="uk-flex uk-flex-column uk-height-large uk-flex-middle">
<h1 class=" uk-flex uk-flex-center color-title uk-heading-hero">404</h1>
<p class="fs-30 color-title uk-flex uk-flex-center uk-heading-hero"> Never us UIKit please ! NEVER ! </p>
</div>
{% endblock %}

{% block javascript %}{{ parent() }}{% endblock %}